{% extends "auth/base.html" %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 login-form">
            <div class="title">
                <p>Log in</p>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}

                <p>&#10006 {{ message }}</p>

                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form id="form-login" method="post">

                <div class="form-inputs">
                    <p>
                        <input type="text" name="name" class="form-control" placeholder="Username" autocomplete="off">
                    </p>
                    <p>
                        <input type="password" name="password" class="form-control" placeholder="Password"
                            autocomplete="off">
                    </p>
                    <a href="{{ url_for('auth.signup') }}">Don't have an account?</a>
                </div>
                <input type="submit" value="Log in" id="btn-submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}